# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/
venv/
ENV/
env/

# PyCharm
.idea/
*.iml
*.iws
.idea_modules/

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Temporary files
*.log
*.tmp
*.temp

# PyTorch Lightning logs
lightning_logs/
